* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  color:  #1B1B1B;
}

/** Adding important for overriding the element properties. **/
.hidden { visibility: hidden !important }
.visible { visibility: visible !important }
.none { display: none !important }
.display {display: flex }

.focused { background-color: tomato }
.unfocused { background-color: white }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}


#main {
  display: flex;
  background-color: blue;
  flex-flow: column wrap;
  width: 100vw;
  margin-top: 60px;
}


/** Toolbar and bottom nav elements below **/

#toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  width: 100%;
  background-color: gray;
  position: fixed;
  justify-content: space-between;
  z-index: 5;
  top: 0;
  height: 60px;
}

#login_btn {
  height: 80%;
  flex: 1;
  border-radius: 25px;
}

#user_thumbnail {
  background-color: turquoise;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  flex: 1;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

#searchbar {
  flex: 4;
  height: 80%;
  border-radius: 50px;
  border-width: 1px;
  border-color: blueviolet;
  padding-left: 10px;
  padding-right: 10px;
}

#bottom_nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #000000;
  height: 70px;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
}

#mid_section {
  background-color: aqua;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;

}

#home_nav_button {
  height: 80%;
  width: 70px;
}

#search_nav_button {
  height: 80%;
  width: 70px;
}

#own_ads_nav_button {
  height: 80%;
  width: 70px;
}

/** Toolbar and bottom nav elements ends **/



/** Login and register form **/


#login_and_register {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: brown;
}

#logo_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register_form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 300px;
  flex: 3;
  margin-bottom: 70px;
  background-color: blueviolet;
}

#login_form {
  flex: 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-bottom: 70px;
  background-color: blueviolet;
}


.input_field {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  text-align: center;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-style: normal;
  width: 80%;
}

.borderless_button {
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
  color: #ADADFF;
  font-weight: 700;
  font-size: medium;
  margin-top: 20px;
}

h4 {
  margin-top: 1px;
}

#register_text {
  margin-top: 0px;
}


/** Login and register form ends **/




/** Tablet screen break points **/

@media (min-width: 800px) {

  #main {
    flex-flow: row;
    height: 100vh;
  }
  

  #bottom_nav {
    top: 0;
    left: 0;
    width: 80px;
    position: relative;
    height: 100%;
    justify-content: start;
    flex-direction: column;
  }

  #toolbar {
    box-shadow: black 5px 5px 50px 3px;
    opacity: .9;
    background-color: blanchedalmond;
  }  

  #home_nav_button {
    height: 60px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #search_nav_button {
    height: 60px;
    width: 80%;
    margin-bottom: 10px;
  }

  #own_ads_nav_button {
    height: 60px;
    width: 80%;
    margin-bottom: 10px;
  }

}



/** Widescreen break points **/

@media (min-width: 1400px) {
  
  #main {
    width: 1400px;
    flex-direction: row;
    height: 100vh;
  }
  
  #toolbar {
    width: 1400px;
    justify-content: space-between;

  }

  #login_btn {
    flex: none;
    margin-right: 20px;
    width: 150px;
  }

  #searchbar {
    width: 60%;
    flex: none;
  }


  #user_thumbnail {
    flex: none;
  }

}