* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  color:  #1B1B1B;
}

:root {
  --primary-color: #FBFCFF;
  --secondary-color: #d0e8d1;
  --trim-color: #7bb080;
  --button-primary-color: #7bb080;
  --button-secondary-color: #7bb080;
}

/** Adding important for overriding the element properties. **/
.hidden { visibility: hidden !important }
.visible { visibility: visible !important }
.none { display: none !important }
.display {display: flex }

.focused { filter: invert(1) }
.unfocused { filter: invert(0) }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}


#main {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  margin-top: 60px;
}


/** Toolbar and bottom nav elements below **/

#toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  z-index: 5;
  top: 0;
  height: 60px;
  border-bottom: var(--trim-color) solid 1px;
}

#login_btn {
  height: 80%;
  width: 70px;
  border-radius: 25px;
}

#user_thumbnail_container {
  height: 50px;
  width: 50px;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#user_thumbnail {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

#user_thumbnail:hover {
  opacity: 0.7;
  cursor: pointer;
}

#notification {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 16;
}

#searchbar {
  flex: 4;
  height: 80%;
  border-radius: 50px;
  border-width: 1px;
  border-color: var(--secondary-color);
  padding-left: 10px;
  padding-right: 10px;
}

#toolbar_logo_container {
  flex: 4;
  height: 80%;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}


#bottom_nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  width: 100%;
  background-color: var(--secondary-color);
  border-left: var(--trim-color) solid 1px;
  border-right: var(--trim-color) solid 1px;
  height: 70px;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
}

#mid_section {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  border-right: var(--trim-color) solid 1px;
  background-color: var(--primary-color);

}

.nav_button {
  height: 80%;
  width: 70px;
  border: none;
  background-color: transparent;
}


.button-icon {
  width: auto;
  height: 90%;
  filter: invert(0);
}

/** Toolbar and bottom nav elements ends **/



/** Login and register form **/


#login_and_register {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

#logo_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100%;
  display: flex;
  max-width: 400px;
  object-fit: contain;
}

#login_register_section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}

#register_form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 300px;
  flex: 3;
}

#login_form {
  flex: 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 300px;
}


.input_field {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border: none;
  text-align: center;
  box-shadow: 2px 10px 18px #B6B6B4;
  margin-bottom: 5px;
  display: flex;
}

.input_field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: var(--trim-color);
}



.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-style: normal;
  width: 80%;
}

.borderless_button {
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
  color: black;
  font-weight: 700;
  font-size: medium;
  margin-top: 20px;
}

h4 {
  margin-top: 1px;
}

#register_text {
  margin-top: 0px;
}

#login_img_container {
  display: flex;
  width: 0;
  height: 0;
  flex: none;
}

/** Login and register form ends **/



/** Profile screen **/

.profile {
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  height: 100%;
  width: 100%;
}

#profile_info {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

#user_img_container {
  flex: 1;
  display: flex;
  max-width: 400px;
  border-radius: 50%;
  justify-content: end; 
}

#user_img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: contain;
}

#profile_username {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#username {
  font-weight: 700;
  color: black;
}

#user_info {
  flex: 2;
  display: flex;
  flex-flow: column;
}

#current_profile_info {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: start;
}

#change_info_section {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
}

#logout_button {
  position: relative;
  display: flex;
  top: 5px;
  right: 20px;
}

.profile_statusinfo {
  display: flex;
  flex-flow: row wrap;
  background-color: turquoise;
  padding-left: 10px;
  padding-right: 10px;
}

.user_profile_info {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
}

#change_profile_info {
  flex: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#user_profile {
  display: flex;
  flex-flow: column;
}

#change_profile_info_form {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

#change_profile_buttons {
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.custom_button {
  width: 50%;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to bottom right, var(--button-secondary-color), var(--button-primary-color));
  border-style: none;
  height: 100%;
  max-height: 50px;
  margin: 5px;
  transition: 0.3s;
}

.custom_button:hover {
  opacity: 0.7;
}


.change_profile_info_form_input {

  background-color: white;
  border-style: none;
  border-radius: 25px;
  box-shadow: 2px 10px 18px #B6B6B4;
  width: 100%;
  flex: 1;
  padding-left: 10px;
  margin-bottom: 5px;
  display: flex;

}

.change_profile_info_form_input:focus {

  border-style: solid;
  border-width: 1px;
  border-color: var(--trim-color);

}

input:focus,textarea:focus {
  outline: none;
}

#profile_pic_section {
  display: flex;
  flex: 1;
  flex-flow: row;
}

#put {
  color: white;
  display: flex;

}

#profile_pic_form {
  width: 100%;
  display: flex;
}


/** Profile screen ends **/




/** Home screen portion **/

#home_section {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}



.listing_item:hover {
  box-shadow: var(--trim-color) 1px 1px 2px 1px;
  cursor: pointer;
}

.listing_item_info {
  flex: 2;
  display: flex;
  flex-flow: column;
  padding: 5px;
}

.listing_item_img_container {
  flex: 3;
  width: 100%;
  max-height: 120px;
  display: flex;
  background-color: white;
  box-shadow: 
        inset 0px 11px 8px -10px #B6B6B4,
        inset 0px -11px 8px -10px #B6B6B4; 
}

.listing_item_img {
  width: auto;
  object-fit: contain;
}

.section_title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 100%;
  background-color: var(--primary-color);
  border: var(--trim-color) solid 1px;
}


.listing_section {
  overflow: none;
  height: 80%;
  width: 100%;
  max-width: 1700px;
  display: flex;
  flex: 1;
  flex-flow: column;

}

.listing_section_filler {
  height: 70px;
  min-height: 70px;
  width: 100%;
  display: flex;
}

.listing_list {
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-items: center; 
  margin-left: 5%;
}

.listing_item {

  border: var(--trim-color) solid 1px;
  display: flex;
  flex-flow: column;
  float: left;
  height: 210px;
  width: 90%;
  margin: 5px;
}

.listing_list::-webkit-scrollbar {
  display: none;
}


/** Search screen portion **/

#search_section {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  overflow-y: scroll;
}


/** Own Ads portion **/

#own_ads {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
#own_listing_info {
  height: 7em;
}

#own_listing_list {
  padding: 1em;
  margin: 1em;
  border: var(--trim-color) solid 1px;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#own_listing_list::-webkit-scrollbar {
  display: none;
}

#own_listing_info_section {
  overflow: none;
  background-color: var(--primary-color);
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}




/** Listing item section **/

#listing_item_section {

  flex-flow: column;
  width: 100%;
  overflow-y: scroll;
}

#listing_upper_section {
  flex: 1;
  background-color: var(--primary-color);
  padding-left: 10px;
  display: flex;
  min-height: 1em;
  max-height: 10em;
  align-items: center;
  flex-flow: row;
}

#listing_upper_section h2 {
  margin: 0px 10px;
}

#listing_upper_section_title {
  font-weight: 700;
}

#listing_upper_posted_date {
  font-weight: 500;
} 

#listing_mid_section {
  flex: 1;
  min-height: 150px;
  border: #605856 solid 1px;
  margin: 13px;
}

#listing_mid_section > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3s;
}

#listing_mid_section > img:hover {
  opacity: 0.7;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgba(46, 66, 49, 0.5);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 50em;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#listing_lower_section {
  flex: 2;
  display: flex;
  flex-flow: column;
  padding: 3px;
  min-height: 150px;
  margin: 5px;
}

#listing_price_description {
  margin: 5px;
  padding: 15px;
  border: var(--trim-color) solid 1px;
}

#listing_user_info {
  border: var(--trim-color) solid 1px;
  background-color: var(--secondary-color);
  margin: 5px;
  padding: 15px;
  transition: 0.3s;
}
#listing_user_info:hover {
  cursor: pointer;
  opacity: 0.7;
}

#listing_comment_section {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

#listing_back_button {
  margin: 5px;
  width: 15%;
}

#comment_input {
  padding: 15px;
  flex: 1;
  border-style: none;
  height: 70px;
  resize: none;
}

#comment_form {
  margin: 5px;
  border: var(--trim-color) solid 1px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

#add_comment_button {
  height: 80%;
  width: 90px;
  margin: 10px;
}

#comments_title {
  margin: 10px;
}

#listing_comments {
  margin: 5px;
  width: 99.35%;
  border: var(--trim-color) solid 1px;
}

.listing_comment {
  border-radius: 10px;
  border: var(--trim-color) solid 1px;
  padding: 10px;
  border-color: var(--trim-color);
  overflow-x: auto;
  margin: 5px;
  background-color: var(--primary-color);
  max-width: 100%;
}

.comment_text {
  max-width: 100%;
  background-color: grey;
}


/** View other profile section **/

#other_user_profile {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#other_user_img_container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#other_profile_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#other_user_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#other_profile_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#review_form { 
  border-radius: 10px;
  border-color: var(--trim-color);
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  max-width: 300px;
  min-width: 100px;
  background-color: white;
}
#review_input {
  max-width: 150px;
  min-width: 100px;
  border: none;
  width: 100%;
  flex: 4;
}

#review_button {
  flex: 1;
}


/** Listing item modification section **/
#listing_item_modification {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}

#listing_img_container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#listing_back_button_container {
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
}

#delete_listing_button {
  padding: 5px;
  max-width: 200px;
  background-image: linear-gradient(to bottom right, red, darkred);
}

#listing_img {
  height: 100%;
  width: 50%;
  object-fit: contain;
}

#change_listing_info_form {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex: 2;
}

#save_modify_changes {
  width: 100%;

}

#change_listing_info_form > * {
  max-height: 40px;
  max-width: 800px;
  padding: 10px 0px;
  padding-left: 10px;
}

#change_listing_info_form > textarea {
  max-height: 60px;
}



/** Custom classes **/

.custom_file_input {
  border-radius: 25px;
  margin: 5px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to bottom right, var(--button-secondary-color), var(--button-primary-color));
  outline: none;
}
.custom_file_input:active {
  background: blue;
}

/** Disabling the default file input button **/
::file-selector-button {
  display: none;
}


#new_ad_section{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new_ad_form{
  display: flex;
  flex-flow: column;
  width: 70%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#ad_form_file{
  width: 30%;
  min-width: 175px;
  margin: 20px;
  padding: 10px;
}
#ad_form_title{
  margin: 20px;
  min-width: 175px;
  width: 30%;
}
#ad_form_description{
  margin: 20px;
  min-width: 175px;
  width: 55%;
  height: 20%;
}
#ad_form_price{
  margin: 20px;
  min-width: 175px;
  width: 30%;
}
#ad_form_button {
  width: 20%;
  min-width: 100px;
}

@media (min-width: 400px) {

  .listing_item {
    width: 45%;
  }
  

}


/** Tablet screen break points **/

@media (min-width: 800px) {

  .focused { 
    background-color: var(--button-primary-color) !important; 
    filter: invert(0);
  }
  .unfocused { background-color: transparent !important; }


  #listing_img {
    width: 80%;
  }

  .listing_item {
    height: 220px;
    width: 300px;
    transition: 0.3s ease;
  }

  #home_listing_list {
    margin-left: 0;
  }

  #main {
    flex-flow: row;
    height: 100vh;
  }
  
  #bottom_nav {
    top: 0;
    left: 0;
    width: 250px;
    position: relative;
    padding-left: 10px;
    height: 100%;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

 /** Toolbar section **/

  #user_thumbnail_container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .nav_button {
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    justify-content: start;
    padding: 10px;
    padding-left: 20px;
    margin-right: 10px;
    align-items: center;
    width: 95%;
    margin-top: 10px;
    transition: 0.3s;
    border-radius: 30px;
  }

  .nav_button h2 {
    margin-left: 15px;
  }

  .nav_button:hover {
    background-color: var(--trim-color);
    border-radius: 30px;
  }

  #searchbar {
    width: 60%;
    flex: none;
  }


  /** Profile section **/
  #profile_username {
    align-items: start;
    padding-left: 50px;
  }
  
  #current_profile_info {
    align-items: center;
    flex-flow: row;
  }

  #change_profile_info_form input {
    max-height: 60px;
  }

  #change_profile_info_form {
    align-items: start;
    width: 50%;
    justify-content: start;
  }
  
  #login_img_container {
    display: flex;
    height: 100%;
    overflow-y: hidden;
    overflow: hidden;
    flex: 1;
  }

  #login_and_register {
    flex-flow: row;
  }
 

  
}

@media (min-width: 1000px) {

  #other_user_img_container {
    height: 400px;
  }

  #home_listing_list {
    margin-left: 5%;
  }
  
}



/** Widescreen break points **/

@media (min-width: 2000px) {
  
  #main {
    width: 2000px;
    flex-direction: row;
    height: 100vh;
  }
  
  #toolbar {
    width: 2000px;
    justify-content: space-between;

  }

  #login_btn {
    flex: none;
    margin-right: 20px;
  }

  #user_thumbnail {
    flex: none;
    
  }



}