* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  color:  #1B1B1B;
}

:root {
  --primary-color: #FEFEFA;
  --secondary-color: #18A8D8;
  --trim-color: #0000cd;
  --button-primary-color: #000080;
  --button-secondary-color: #1e90ff;
}

/** Adding important for overriding the element properties. **/
.hidden { visibility: hidden !important }
.visible { visibility: visible !important }
.none { display: none !important }
.display {display: flex }

.focused {   filter: invert(1); }
.unfocused {   filter: invert(0); }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}


#main {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  margin-top: 60px;
}


/** Toolbar and bottom nav elements below **/

#toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  z-index: 5;
  top: 0;
  height: 60px;
}

#login_btn {
  height: 80%;
  width: 70px;
  border-radius: 25px;
}

#user_thumbnail_container {
  height: 50px;
  width: 50px;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#user_thumbnail {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

#notification {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 16;
}

#searchbar {
  flex: 4;
  height: 80%;
  border-radius: 50px;
  border-width: 1px;
  border-color: blueviolet;
  padding-left: 10px;
  padding-right: 10px;
}

#toolbar_logo_container {
  flex: 4;
  height: 80%;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}


#bottom_nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: white;
  width: 100%;
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  height: 70px;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
}

#mid_section {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  box-shadow: 2px 10px 18px #B6B6B4;

}

.nav_button {
  height: 80%;
  width: 70px;
  border: none;
  background-color: transparent;
}


.button-icon {
  width: auto;
  height: 90%;
  filter: invert(0);
}

/** Toolbar and bottom nav elements ends **/



/** Login and register form **/


#login_and_register {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

#logo_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100%;
  display: flex;
  max-width: 400px;
}

#login_register_section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}

#register_form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 300px;
  flex: 3;
}

#login_form {
  flex: 3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 300px;
}


.input_field {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border: none;
  text-align: center;
  box-shadow: 2px 10px 18px #B6B6B4;
  margin-bottom: 5px;
  display: flex;
}

.input_field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: var(--trim-color);
}



.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-style: normal;
  width: 80%;
}

.borderless_button {
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
  color: black;
  font-weight: 700;
  font-size: medium;
  margin-top: 20px;
}

h4 {
  margin-top: 1px;
}

#register_text {
  margin-top: 0px;
}

#login_img_container {
  display: flex;
  width: 0;
  height: 0;
  flex: none;
}

/** Login and register form ends **/



/** Profile screen **/

#user_profile {
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  height: 100%;
  width: 100%;
}

#profile_info {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

#user_img_container {
  flex: 1;
  display: flex;
  justify-content: end;
}

#user_img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  border-radius: 50%;
  max-height: 400px;

}

#profile_username {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#username {
  font-weight: 700;
  color: black;
}

#user_info {
  flex: 2;
  display: flex;
  flex-flow: column;
}

#current_profile_info {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: start;
}

#change_info_section {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
}

#logout_button {
  position: relative;
  display: flex;
  top: 5px;
  right: 20px;
}

.profile_statusinfo {
  display: flex;
  flex-flow: row wrap;
  background-color: turquoise;
  padding-left: 10px;
  padding-right: 10px;
}

.user_profile_info {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
}

#change_profile_info {
  flex: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#change_profile_info_form {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

#change_profile_buttons {
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

#change_profile_buttons button {
  width: 100%;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to bottom right, var(--button-secondary-color), var(--button-primary-color));
  border-style: none;
  height: 100%;
  max-height: 50px;
  margin: 5px;
}

.custom_button {
  width: 50%;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to bottom right, var(--button-secondary-color), var(--button-primary-color));
  border-style: none;
  height: 100%;
  max-height: 50px;
  margin: 5px;
}


.change_profile_info_form_input {

  background-color: white;
  border-style: none;
  border-radius: 25px;
  box-shadow: 2px 10px 18px #B6B6B4;
  width: 100%;
  flex: 1;
  margin-bottom: 5px;
  display: flex;
  padding-left: 10px;

}

.change_profile_info_form_input:focus {

  border-style: solid;
  border-width: 1px;
  border-color: var(--trim-color);

}

input:focus,textarea:focus {
  outline: none;
}

#profile_pic_section {
  display: flex;
  flex: 1;
  flex-flow: row;
}

#put {
  color: white;
  display: flex;

}

#profile_pic_form {
  width: 100%;
  display: flex;
}


/** Profile screen ends **/





/** Home screen portion **/

#home_section {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.listing_item {
  box-shadow: 1px 1px 1px black;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  float: left;
  height: 210px;
  width: 170px;
  margin: 5px;
}

.listing_item_info {
  flex: 2;
  display: flex;
  flex-flow: column;
  padding: 5px;
}

.listing_item_img_container {
  flex: 3;
  width: 100%;
  max-height: 120px;
  display: flex;
  border-radius: 8px 8px 0px 0px;
  background-color: white;
  box-shadow: 
        inset 0px 11px 8px -10px #B6B6B4,
        inset 0px -11px 8px -10px #B6B6B4; 
}

.listing_item_img {
  width: auto;
}

#top_sellers_title {
  width: 100%;
  color:black;
  font-weight: 700;
}


#home_listing_section {
  overflow: none;
  height: 80%;
  width: 90%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex: 1;
  flex-flow: column;

}

.listing_section_filler {
  height: 70px;
  min-height: 70px;
  width: 100%;
  display: flex;
}

#home_listing_list {
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}



/** Search screen portion **/


#search_listing_section {
  overflow: none;
  background-color: chocolate;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  flex-flow: column;

}

#search_section {
  background-color: gold;
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}



/** Own Ads portion **/

#own_ads {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: greenyellow;
}

#own_listing_info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: white;
  background-color: yellow;
}

#own_listing_list {
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

#own_listing_info_section {
  overflow: none;
  background-color: chocolate;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}




/** Listing item section **/

#listing_item_section {
  flex-flow: column;
  width: 100%;
  overflow-y: scroll;
}

#listing_upper_section {
  flex: 1;
  background-color: burlywood;
  padding-left: 10px;
  display: flex;
  min-height: 100px;
  align-items: center;
  flex-flow: row;
}

#listing_upper_section h2 {
  margin: 0px 10px;
}

#listing_upper_section_title {
  font-weight: 700;
}

#listing_upper_posted_date {
  font-weight: 500;
} 

#listing_mid_section {
  flex: 1;
  min-height: 150px;
  background-color: blue;
}

#listing_lower_section {
  flex: 2;
  display: flex;
  flex-flow: column;
  padding: 3px;
  background-color: brown;
  min-height: 150px;
}

#listing_user_info {
  background-color: coral;
}

#listing_comment_section {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

#comment_input {
  width: 90%;
  max-width: 500px;
  min-height: 150px;
}

#listing_comments {
  width: 100%;
  background-color: green;
}

.listing_comment {
  border-radius: 10px;
  margin: 5px;
  background-color: cornsilk;
}












/** Custom classes **/

.custom_file_input {
  border-radius: 25px;
  margin: 5px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to bottom right, var(--button-secondary-color), var(--button-primary-color));
  outline: none;
}
.custom_file_input:active {
  background: blue;
}

/** Disabling the default file input button **/
::file-selector-button {
  display: none;
}


/** Tablet screen break points **/

@media (min-width: 800px) {

  #main {
    flex-flow: row;
    height: 100vh;
  }
  
  #bottom_nav {
    top: 0;
    left: 0;
    width: 80px;
    position: relative;
    height: 100%;
    justify-content: start;
    flex-direction: column;
  }
 /** Toolbar section **/

  #toolbar {
    box-shadow: black 5px 5px 50px 3px;
    opacity: .9;
  }  

  #user_thumbnail_container {
    margin-left: 15px;
    margin-right: 15px;
  }

  #home_nav_button {
    height: 60px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #search_nav_button {
    height: 60px;
    width: 80%;
    margin-bottom: 10px;
  }

  #own_ads_nav_button {
    height: 60px;
    width: 80%;
    margin-bottom: 10px;
  }

  #searchbar {
    width: 60%;
    flex: none;
  }
  

  /** Profile section **/
  #profile_username {
    align-items: start;
    padding-left: 50px;
  }
  
  #current_profile_info {
    align-items: center;
    flex-flow: row;
  }

  #change_profile_info_form input {
    max-height: 60px;
  }

  #change_profile_info_form {
    align-items: start;
    width: 50%;
    justify-content: start;
  }
  
  #login_img_container {
    display: flex;
    height: 100%;
    overflow-y: hidden;
    overflow: hidden;
    flex: 1;
  }

  #login_and_register {
    flex-flow: row;
  }
 

}



/** Widescreen break points **/

@media (min-width: 2000px) {
  
  #main {
    width: 2000px;
    flex-direction: row;
    height: 100vh;
  }
  
  #toolbar {
    width: 2000px;
    justify-content: space-between;

  }

  #login_btn {
    flex: none;
    margin-right: 20px;
  }

  #user_thumbnail {
    flex: none;
    
  }

}